112-mcphub/n8n-workflows/.archive/elk-error-pipeline.json
{
  "name": "ELK Error Pipeline v4",
  "_meta": {
    "deprecated": true,
    "deprecatedBy": "scripts/n8n-workflows/error-to-github-issue.json",
    "deprecatedReason": "Superseded by 'GlitchTip Error → GitHub Issue' workflow which has service classification, host mapping, retry logic, error handling, and richer labeling. Use /webhook/glitchtip-error instead of /webhook/elk-error.",
    "deprecatedDate": "2026-02-12"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "elk-error",
        "responseMode": "onReceived",
        "responseData": "allEntries",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GlitchTipWebhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "elk-error"
    },
    {
      "parameters": {
        "jsCode": "// Parse GlitchTip webhook format\nconst body = $input.first().json.body || $input.first().json;\n\nconst attachment = (body.attachments || [])[0] || {};\nconst fields = (attachment.fields || []);\n\n// Extract fields by title\nconst getField = (name) => {\n  const f = fields.find(f => f.title === name);\n  return f ? f.value : '';\n};\n\nconst title = attachment.title || body.text || 'Unknown Error';\nconst link = attachment.title_link || '';\nconst culprit = attachment.text || '';\nconst level = getField('Level') || 'error';\nconst project = getField('Project') || 'unknown';\nconst timesSeen = parseInt(getField('Times Seen') || '1', 10);\nconst firstSeen = getField('First Seen') || new Date().toISOString();\nconst lastSeen = getField('Last Seen') || new Date().toISOString();\n\n// Create fingerprint from title for dedup\nlet hash = 0;\nfor (let i = 0; i < title.length; i++) {\n  const char = title.charCodeAt(i);\n  hash = ((hash << 5) - hash) + char;\n  hash |= 0;\n}\nconst fingerprint = Math.abs(hash).toString(16).padStart(8, '0');\n\nconst severity = ['fatal', 'critical'].includes(level.toLowerCase()) ? 'critical' :\n                 level.toLowerCase() === 'warning' ? 'warning' : 'error';\n\nreturn [{\n  json: {\n    title,\n    link,\n    culprit,\n    level,\n    severity,\n    project,\n    timesSeen,\n    firstSeen,\n    lastSeen,\n    fingerprint,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "parse-error",
      "name": "Parse & Fingerprint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "jsCode": "// Rate limiter: max 10 issues per 5 minutes\nconst now = Date.now();\nconst WINDOW_MS = 5 * 60 * 1000;\nconst MAX_PER_WINDOW = 10;\n\nconst staticData = $getWorkflowStaticData('global');\nif (!staticData.rateLimitLog) staticData.rateLimitLog = [];\n\n// Clean old entries\nstaticData.rateLimitLog = staticData.rateLimitLog.filter(t => now - t < WINDOW_MS);\n\nconst count = staticData.rateLimitLog.length;\nconst rateLimited = count >= MAX_PER_WINDOW;\n\nif (!rateLimited) {\n  staticData.rateLimitLog.push(now);\n}\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    rateLimited,\n    rateCount: count,\n    rateWindow: '5min',\n    rateMax: MAX_PER_WINDOW\n  }\n}];"
      },
      "id": "rate-limit",
      "name": "Rate Limiter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [690, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "rate-check-cond",
              "leftValue": "={{ $json.rateLimited }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "rate-check",
      "name": "Rate Limited?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [910, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/search/issues?q={{ encodeURIComponent($json.fingerprint + ' repo:qws941/proxmox is:issue label:auto-error') }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "check-duplicate",
      "name": "Check Duplicate Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1130, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OipT61zxkKCUgCSD",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst body = response.body || response;\nconst items = body.items || [];\nconst totalCount = body.total_count || 0;\n\nconst prevData = $('Parse & Fingerprint').first().json;\n\nreturn [{\n  json: {\n    ...prevData,\n    hasDuplicate: totalCount > 0,\n    existingIssueNumber: totalCount > 0 ? items[0].number : null,\n    existingIssueUrl: totalCount > 0 ? items[0].html_url : null,\n    duplicateCount: totalCount\n  }\n}];"
      },
      "id": "dedup-logic",
      "name": "Dedup Decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1350, 200]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "route-cond",
              "leftValue": "={{ $json.hasDuplicate }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "route-action",
      "name": "New or Existing?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1570, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/qws941/proxmox/issues",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"[{{ $json.severity.toUpperCase() }}] {{ $json.title }}\",\n  \"body\": \"## Auto-detected Error\\n\\n**Source**: GlitchTip Alert\\n**Project**: {{ $json.project }}\\n**Level**: {{ $json.level }}\\n**Culprit**: {{ $json.culprit }}\\n**Times Seen**: {{ $json.timesSeen }}\\n**First Seen**: {{ $json.firstSeen }}\\n**Last Seen**: {{ $json.lastSeen }}\\n**Milestone**: {{ $json.milestoneTitle }}\\n**GlitchTip Link**: {{ $json.link }}\\n\\n---\\n\\n**Fingerprint**: `{{ $json.fingerprint }}`\\n\\n> This issue was automatically created by the ELK Error Pipeline v4.\",\n  \"labels\": [\"auto-error\", \"{{ $json.severity }}\", \"{{ $json.project }}\"]{{ $json.hasMilestone ? ', \\\"milestone\\\": ' + $json.milestoneNumber : '' }}\n}",
        "options": {}
      },
      "id": "create-issue",
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2230, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OipT61zxkKCUgCSD",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/qws941/proxmox/issues/{{ $json.existingIssueNumber }}/comments",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": \"## Recurring Error\\n\\n**Times Seen**: {{ $json.timesSeen }}\\n**Last Seen**: {{ $json.lastSeen }}\\n**Level**: {{ $json.level }}\\n**GlitchTip Link**: {{ $json.link }}\\n\\n> Auto-comment by ELK Error Pipeline.\"\n}",
        "options": {}
      },
      "id": "comment-existing",
      "name": "Comment on Existing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 350],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OipT61zxkKCUgCSD",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://api.github.com/repos/qws941/proxmox/milestones?state=open&sort=due_on&direction=desc",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": true
            }
          }
        }
      },
      "id": "list-milestones",
      "name": "List Milestones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1790, 100],
      "credentials": {
        "httpHeaderAuth": {
          "id": "OipT61zxkKCUgCSD",
          "name": "GitHub Token"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const milestones = $input.first().json.body || $input.first().json;\nconst prevData = $('Dedup Decision').first().json;\n\n// Calculate current ISO week milestone title\nconst now = new Date();\nconst jan4 = new Date(now.getFullYear(), 0, 4);\nconst dayOfYear = Math.floor((now - new Date(now.getFullYear(), 0, 1)) / 86400000) + 1;\nconst weekNum = Math.ceil((dayOfYear + jan4.getDay()) / 7);\nconst title = `Week ${now.getFullYear()}-W${String(weekNum).padStart(2, '0')}`;\n\nconst match = (Array.isArray(milestones) ? milestones : []).find(m => m.title === title);\n\nreturn [{\n  json: {\n    ...prevData,\n    milestoneNumber: match ? match.number : null,\n    milestoneTitle: match ? match.title : title,\n    hasMilestone: !!match\n  }\n}];"
      },
      "id": "resolve-milestone",
      "name": "Resolve Milestone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2010, 100]
    }
  ],
  "connections": {
    "GlitchTipWebhook": {
      "main": [
        [
          {
            "node": "Parse & Fingerprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Fingerprint": {
      "main": [
        [
          {
            "node": "Rate Limiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limiter": {
      "main": [
        [
          {
            "node": "Rate Limited?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limited?": {
      "main": [
        [
          {
            "node": "Check Duplicate Issue",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Check Duplicate Issue": {
      "main": [
        [
          {
            "node": "Dedup Decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dedup Decision": {
      "main": [
        [
          {
            "node": "New or Existing?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New or Existing?": {
      "main": [
        [
          {
            "node": "List Milestones",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Comment on Existing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create GitHub Issue": {
      "main": [
        []
      ]
    },
    "List Milestones": {
      "main": [
        [
          {
            "node": "Resolve Milestone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Milestone": {
      "main": [
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null
}
