scripts/n8n-workflows/alert-to-github-issue.json
{
  "name": "Grafana Alert → GitHub Issue",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "grafana-alert",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Grafana Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "571765d3-b6bd-444c-b1e4-13b77aa29879"
    },
    {
      "parameters": {
        "jsCode": "// Parse Grafana Alerting webhook payload\nconst body = $input.first().json.body || $input.first().json;\nconst alerts = body.alerts || [body];\nconst results = [];\n\nfor (const alert of alerts) {\n  const status = alert.status || body.status || 'firing';\n  if (status !== 'firing' && status !== 'resolved') continue;\n\n  const labels = alert.labels || {};\n  const annotations = alert.annotations || {};\n  const values = alert.values || alert.valueString || '';\n\n  results.push({\n    json: {\n      alertname: labels.alertname || body.title || 'Unknown Alert',\n      severity: labels.severity || 'warning',\n      status: status,\n      summary: annotations.summary || annotations.description || '',\n      values: typeof values === 'object' ? JSON.stringify(values) : String(values),\n      dashboardURL: alert.dashboardURL || '',\n      panelURL: alert.panelURL || ''\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [];"
      },
      "id": "parse-alert",
      "name": "Parse Alert Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// P0 FIX: Rate limiter - max 20 alerts per 5-minute window\nconst MAX_ALERTS = 20;\nconst WINDOW_MS = 5 * 60 * 1000;\n\nconst now = Date.now();\nconst staticData = $getWorkflowStaticData('global');\n\nif (!staticData.alertRateLimitEntries) {\n  staticData.alertRateLimitEntries = [];\n}\nstaticData.alertRateLimitEntries = staticData.alertRateLimitEntries.filter(ts => now - ts < WINDOW_MS);\n\nconst isRateLimited = staticData.alertRateLimitEntries.length >= MAX_ALERTS;\n\nif (!isRateLimited) {\n  staticData.alertRateLimitEntries.push(now);\n}\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    isRateLimited,\n    rateLimitCount: staticData.alertRateLimitEntries.length,\n    rateLimitMax: MAX_ALERTS\n  }\n}];"
      },
      "id": "rate-limiter",
      "name": "Rate Limiter (P0 FIX)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        620,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "rate-limited-check",
              "leftValue": "={{ $json.isRateLimited }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-rate-limit",
      "name": "Rate Limited?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        750,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// SYNC: This classification logic is duplicated in error-to-github-issue.json\n// Auto-classify alert: detect service, host, priority, target repo\nconst SERVICE_MAP = {\n  'mcphub': 'svc:mcphub', 'mcp': 'svc:mcphub',\n  'grafana': 'svc:grafana', 'prometheus': 'svc:grafana',\n  'elk': 'svc:elk', 'elasticsearch': 'svc:elk', 'logstash': 'svc:elk', 'kibana': 'svc:elk',\n  'glitchtip': 'svc:glitchtip',\n  'traefik': 'svc:traefik', 'proxy': 'svc:traefik', 'gateway': 'svc:traefik',\n  'n8n': 'svc:n8n',\n  'blacklist': 'svc:blacklist',\n  'proxmox': 'svc:proxmox', 'ceph': 'svc:proxmox', 'pve': 'svc:proxmox'\n};\nconst HOST_MAP = {\n  'pve': 'host:pve', 'pve3': 'host:pve',\n  'mcphub': 'host:mcphub', 'grafana': 'host:grafana',\n  'elk': 'host:elk', 'traefik': 'host:traefik',\n  'glitchtip': 'host:glitchtip', 'oc': 'host:oc', 'jclee-dev': 'host:oc',\n  'sandbox': 'host:sandbox', 'ubuntu': 'host:sandbox', 'runner': 'host:runner'\n};\nconst SEVERITY_MAP = {\n  'critical': 'P0-critical', 'fatal': 'P0-critical',\n  'error': 'P1-high', 'warning': 'P2-medium', 'warn': 'P2-medium',\n  'info': 'P3-low', 'debug': 'P3-low'\n};\n\nconst d = $input.first().json;\nconst searchText = (d.alertname + ' ' + d.summary).toLowerCase();\n\nlet serviceLabel = '';\nfor (const [kw, lbl] of Object.entries(SERVICE_MAP)) {\n  if (searchText.includes(kw)) { serviceLabel = lbl; break; }\n}\nlet hostLabel = '';\nfor (const [kw, lbl] of Object.entries(HOST_MAP)) {\n  if (searchText.includes(kw)) { hostLabel = lbl; break; }\n}\nconst priorityLabel = SEVERITY_MAP[d.severity.toLowerCase()] || 'P2-medium';\nconst targetRepo = serviceLabel === 'svc:blacklist' ? 'qws941/blacklist' : 'qws941/terraform';\n\nconst labels = ['infrastructure', 'alert', 'automated', priorityLabel];\nif (serviceLabel) labels.push(serviceLabel);\nif (hostLabel) labels.push(hostLabel);\n\nreturn [{ json: { ...d, classifiedLabels: labels, targetRepo } }];"
      },
      "id": "classify-alert",
      "name": "Classify Alert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-firing",
              "leftValue": "={{ $json.status }}",
              "rightValue": "firing",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "filter-firing",
      "name": "Only Firing",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1050,
        300
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $('Classify Alert').first().json.targetRepo }}/issues?state=open&labels=alert,automated&per_page=30",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "search-existing-issues",
      "name": "Search Existing Issues",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Check if an open issue already exists for this alertname\nconst alertname = $('Parse Alert Payload').first().json.alertname;\nconst prefix = `[Alert] ${alertname}:`;\nconst issues = $input.first().json.body || $input.first().json;\nconst issueList = Array.isArray(issues) ? issues : [];\n\nconst existing = issueList.find(issue => issue.title && issue.title.startsWith(prefix));\n\nif (existing) {\n  return [{ json: { isDuplicate: true, existingIssueNumber: existing.number, alertname } }];\n} else {\n  return [{ json: { isDuplicate: false, existingIssueNumber: null, alertname } }];\n}"
      },
      "id": "check-duplicate",
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-duplicate",
              "leftValue": "={{ $json.isDuplicate }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-new-alert",
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1750,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Classify Alert').first().json.targetRepo }}/issues/{{ $json.existingIssueNumber }}/comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": \"## ⚠️ Alert Re-fired\\n\\n- **Alert**: {{ $('Classify Alert').first().json.alertname }}\\n- **Severity**: {{ $('Classify Alert').first().json.severity }}\\n- **Values**: {{ $('Classify Alert').first().json.values }}\\n- **Time**: {{ $now.toISO() }}\\n\\n> This alert fired again while this issue is still open.\"\n}",
        "options": {}
      },
      "id": "comment-existing-issue",
      "name": "Comment on Existing Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Classify Alert').first().json.targetRepo }}/issues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"[Alert] {{ $('Classify Alert').first().json.alertname }}: {{ $('Classify Alert').first().json.status }}\",\n  \"body\": \"## Alert Details\\n\\n- **Alert**: {{ $('Classify Alert').first().json.alertname }}\\n- **Severity**: {{ $('Classify Alert').first().json.severity }}\\n- **Status**: {{ $('Classify Alert').first().json.status }}\\n- **Summary**: {{ $('Classify Alert').first().json.summary }}\\n- **Values**: {{ $('Classify Alert').first().json.values }}\\n- **Dashboard**: {{ $('Classify Alert').first().json.dashboardURL }}\\n\\n---\\n\\n## Investigation Checklist\\n\\n- [ ] Check Grafana dashboard\\n- [ ] Review ELK logs for related errors\\n- [ ] Identify affected services\\n- [ ] Apply remediation\\n- [ ] Verify alert resolves\\n- [ ] Post-mortem if needed\",\n  \"labels\": {{ JSON.stringify($('Classify Alert').first().json.classifiedLabels) }}\n}",
        "options": {}
      },
      "id": "create-github-issue",
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// P0 FIX: Log rate limit event to Slack\nconst msg = `⚠️ **Alert Rate Limit Exceeded**\\n\\nRate limit: {{ $json.rateLimitCount }}/{{ $json.rateLimitMax }} alerts in 5 minutes\\n\\nAlert: {{ $json.alertname }}\\nSeverity: {{ $json.severity }}`;\n\nreturn [{ json: { message: msg } }];"
      },
      "id": "log-rate-limit",
      "name": "Log Rate Limit Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        500
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $('Classify Alert').first().json.targetRepo }}/issues?state=open&labels=alert,automated&per_page=30",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "search-resolved-issues",
      "name": "Search Open Issues (Resolved)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1250,
        550
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Find open issue matching resolved alert by title prefix\nconst alertname = $('Parse Alert Payload').first().json.alertname;\nconst prefix = `[Alert] ${alertname}:`;\nconst issues = $input.first().json.body || $input.first().json;\nconst issueList = Array.isArray(issues) ? issues : [];\n\nconst existing = issueList.find(issue => issue.title && issue.title.startsWith(prefix));\n\nif (existing) {\n  return [{ json: { hasMatch: true, issueNumber: existing.number, alertname, issueTitle: existing.title } }];\n} else {\n  return [{ json: { hasMatch: false, issueNumber: null, alertname, issueTitle: null } }];\n}"
      },
      "id": "find-resolved-match",
      "name": "Find Resolved Match",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1500,
        550
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-match",
              "leftValue": "={{ $json.hasMatch }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "has-resolved-match",
      "name": "Has Match?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1750,
        550
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Classify Alert').first().json.targetRepo }}/issues/{{ $json.issueNumber }}/comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"body\": \"## \\u2705 Alert Resolved\\n\\n- **Alert**: {{ $json.alertname }}\\n- **Resolved At**: {{ $now.toISO() }}\\n\\n> This issue is being auto-closed because the Grafana alert has resolved.\"\n}",
        "options": {}
      },
      "id": "comment-resolution",
      "name": "Comment Resolution",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2000,
        550
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.github.com/repos/{{ $('Classify Alert').first().json.targetRepo }}/issues/{{ $('Find Resolved Match').first().json.issueNumber }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"state\": \"closed\",\n  \"state_reason\": \"completed\"\n}",
        "options": {}
      },
      "id": "close-resolved-issue",
      "name": "Close Resolved Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2250,
        550
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    }
  ],
  "connections": {
    "Grafana Webhook": {
      "main": [
        [
          {
            "node": "Parse Alert Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Alert Payload": {
      "main": [
        [
          {
            "node": "Rate Limiter (P0 FIX)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limiter (P0 FIX)": {
      "main": [
        [
          {
            "node": "Rate Limited?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limited?": {
      "main": [
        [
          {
            "node": "Log Rate Limit Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Alert": {
      "main": [
        [
          {
            "node": "Only Firing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Only Firing": {
      "main": [
        [
          {
            "node": "Search Existing Issues",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Search Open Issues (Resolved)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Existing Issues": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Comment on Existing Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Open Issues (Resolved)": {
      "main": [
        [
          {
            "node": "Find Resolved Match",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Resolved Match": {
      "main": [
        [
          {
            "node": "Has Match?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Match?": {
      "main": [
        [
          {
            "node": "Comment Resolution",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Comment Resolution": {
      "main": [
        [
          {
            "node": "Close Resolved Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "error-handler"
  }
}
