scripts/n8n-workflows/error-handler.json
{
  "name": "error-handler",
  "nodes": [
    {
      "parameters": {
        "jsCode": "// Error handler: Log and notify on workflow failures\nconst error = $input.first().json;\nconst workflowName = error.workflow?.name || 'Unknown Workflow';\nconst errorMessage = error.error?.message || error.message || 'Unknown error';\nconst errorStack = error.error?.stack || error.stack || '';\nconst nodeExecuted = error.node?.name || 'Unknown Node';\nconst executionId = error.execution?.id || 'Unknown';\n\nconst timestamp = new Date().toISOString();\nconst severity = errorMessage.toLowerCase().includes('rate limit') ? 'warning' : 'error';\n\nconsole.error(`[${timestamp}] Workflow Error in ${workflowName}`);\nconsole.error(`  Node: ${nodeExecuted}`);\nconsole.error(`  Error: ${errorMessage}`);\nconsole.error(`  Execution ID: ${executionId}`);\n\nreturn [{\n  json: {\n    workflowName,\n    errorMessage,\n    errorStack,\n    nodeExecuted,\n    executionId,\n    timestamp,\n    severity,\n    handled: true\n  }\n}];"
      },
      "id": "log-error",
      "name": "Log Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "is-critical",
              "leftValue": "={{ $json.severity }}",
              "rightValue": "error",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "is-critical-error",
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.github.com/repos/qws941/terraform/issues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"[n8n Error] {{ $json.workflowName }} - {{ $json.nodeExecuted }}\",\n  \"body\": \"## Workflow Error Report\\n\\n**Workflow**: {{ $json.workflowName }}\\n**Node**: {{ $json.nodeExecuted }}\\n**Error**: {{ $json.errorMessage }}\\n**Execution ID**: {{ $json.executionId }}\\n**Timestamp**: {{ $json.timestamp }}\\n\\n### Stack Trace\\n\\`\\`\\`\\n{{ $json.errorStack }}\\n\\`\\`\\`\\n\\n### Investigation Checklist\\n- [ ] Review n8n logs for context\\n- [ ] Check external service availability (GitHub, ELK, GlitchTip)\\n- [ ] Verify API credentials and rate limits\\n- [ ] Apply fix\\n- [ ] Re-run workflow\\n- [ ] Close issue\",\n  \"labels\": [\"bug\", \"n8n\", \"automated\", \"P1-high\"]\n}",
        "options": {}
      },
      "id": "create-error-issue",
      "name": "Create Error Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [750, 200],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Log warning for non-critical errors\nconsole.warn(`[Warning] ${$json.workflowName}: ${$json.errorMessage}`);\nreturn [{ json: { ...($input.first().json), logged: true } }];"
      },
      "id": "log-warning",
      "name": "Log Warning",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [750, 400]
    }
  ],
  "connections": {
    "Log Error": {
      "main": [
        [
          {
            "node": "Is Critical?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical?": {
      "main": [
        [
          {
            "node": "Create Error Issue",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Warning",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["error-handling", "automation"],
  "triggerCount": 0
}
