scripts/n8n-workflows/error-to-github-issue.json
{
  "name": "GlitchTip Error → GitHub Issue",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "glitchtip-error",
        "responseMode": "onReceived",
        "responseCode": 200
      },
      "name": "GlitchTip Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || $input.first().json;\nconst event = body.event || body;\nconst data = body.data || {};\nconst issue = data.issue || data;\n\n// Extract fields with full fallback chain including body-level fields\nconst title = issue.title || event.title || data.title || body.title || 'Unknown Error';\nconst culprit = issue.culprit || event.culprit || data.culprit || body.culprit || '';\nconst message = issue.message || event.message || data.message || body.message || '';\nconst level = issue.level || event.level || data.level || body.level || 'error';\nconst project = issue.project?.name || body.project_name || body.project || 'homelab';\nconst url = issue.url || data.url || event.url || body.url || '';\nconst eventId = issue.id || event.event_id || event.id || body.event_id || '';\nconst shortId = issue.shortId || issue.short_id || body.short_id || '';\n\n// Skip if title extraction still failed — prevents noise issues\nif (title === 'Unknown Error') {\n  console.log('[GlitchTip] Skipping event with unresolvable title. Raw keys: ' + Object.keys(body).join(', '));\n  return [];\n}\n\n// Generate fingerprint hash for deduplication\nlet hash = 0;\nconst fingerprint = title + ':' + culprit;\nfor (let i = 0; i < fingerprint.length; i++) {\n  const char = fingerprint.charCodeAt(i);\n  hash = ((hash << 5) - hash) + char;\n  hash |= 0;\n}\nconst fingerprintHash = Math.abs(hash).toString(16).padStart(8, '0').slice(0, 8);\n\nreturn [{\n  json: {\n    title, culprit, message, level, project, url, eventId, shortId,\n    fingerprint: fingerprintHash\n  }\n}];"
      },
      "name": "Parse & Fingerprint",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Rate limiter: max 10 issues per 5-minute window\nconst MAX_ISSUES = 10;\nconst WINDOW_MS = 5 * 60 * 1000;\n\nconst now = Date.now();\nconst staticData = $getWorkflowStaticData('global');\n\nif (!staticData.rateLimitEntries) {\n  staticData.rateLimitEntries = [];\n}\nstaticData.rateLimitEntries = staticData.rateLimitEntries.filter(ts => now - ts < WINDOW_MS);\n\nconst isRateLimited = staticData.rateLimitEntries.length >= MAX_ISSUES;\n\nif (!isRateLimited) {\n  staticData.rateLimitEntries.push(now);\n}\n\nreturn [{\n  json: {\n    ...$input.first().json,\n    isRateLimited,\n    rateLimitCount: staticData.rateLimitEntries.length,\n    rateLimitMax: MAX_ISSUES\n  }\n}];"
      },
      "name": "Rate Limiter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        690,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isRateLimited }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Rate Limited?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        910,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// SYNC: This classification logic is duplicated in alert-to-github-issue.json\nconst SERVICE_MAP = {\n  'mcphub': 'svc:mcphub', 'mcp': 'svc:mcphub',\n  'grafana': 'svc:grafana', 'prometheus': 'svc:grafana',\n  'elk': 'svc:elk', 'elasticsearch': 'svc:elk', 'logstash': 'svc:elk', 'kibana': 'svc:elk',\n  'glitchtip': 'svc:glitchtip',\n  'traefik': 'svc:traefik', 'proxy': 'svc:traefik', 'gateway': 'svc:traefik',\n  'n8n': 'svc:n8n', 'blacklist': 'svc:blacklist',\n  'proxmox': 'svc:proxmox', 'ceph': 'svc:proxmox', 'pve': 'svc:proxmox'\n};\nconst HOST_MAP = {\n  'pve': 'host:pve', 'pve3': 'host:pve', 'mcphub': 'host:mcphub',\n  'grafana': 'host:grafana', 'elk': 'host:elk', 'traefik': 'host:traefik',\n  'glitchtip': 'host:glitchtip', 'oc': 'host:oc', 'jclee-dev': 'host:oc',\n  'sandbox': 'host:sandbox', 'ubuntu': 'host:sandbox', 'runner': 'host:runner'\n};\nconst SEVERITY_MAP = {\n  'critical': 'P0-critical', 'fatal': 'P0-critical',\n  'error': 'P1-high', 'warning': 'P2-medium', 'warn': 'P2-medium',\n  'info': 'P3-low', 'debug': 'P3-low'\n};\n\nconst prev = $input.first().json;\nconst searchText = (prev.title + ' ' + prev.culprit + ' ' + prev.project).toLowerCase();\n\nlet serviceLabel = '';\nfor (const [kw, label] of Object.entries(SERVICE_MAP)) {\n  if (searchText.includes(kw)) { serviceLabel = label; break; }\n}\nlet hostLabel = '';\nfor (const [kw, label] of Object.entries(HOST_MAP)) {\n  if (searchText.includes(kw)) { hostLabel = label; break; }\n}\nconst priorityLabel = SEVERITY_MAP[prev.level?.toLowerCase()] || 'P1-high';\nconst targetRepo = serviceLabel === 'svc:blacklist' ? 'qws941/blacklist' : 'qws941/proxmox';\nconst labels = ['bug', 'glitchtip', 'automated', priorityLabel];\nif (serviceLabel) labels.push(serviceLabel);\nif (hostLabel) labels.push(hostLabel);\n\nreturn [{ json: { ...prev, classifiedLabels: labels, targetRepo, priorityLabel, serviceLabel, hostLabel } }];"
      },
      "name": "Classify Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1130,
        400
      ]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/search/issues?q={{ encodeURIComponent($json.fingerprint + ' repo:' + $json.targetRepo + ' is:issue label:glitchtip label:automated is:open') }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Search by Fingerprint",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1350,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const classified = $('Classify Error').first().json;\nconst searchResult = $input.first().json;\nconst issueTitle = '[GlitchTip] ' + classified.title + ' [' + classified.fingerprint + ']';\n\nlet isDuplicate = false;\nlet existingIssueNumber = null;\n\nif (searchResult.total_count > 0 && searchResult.items?.length > 0) {\n  isDuplicate = true;\n  existingIssueNumber = searchResult.items[0].number;\n}\n\nreturn [{ json: { ...classified, isDuplicate, existingIssueNumber, issueTitle } }];"
      },
      "name": "Check Duplicate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1570,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isDuplicate }}",
              "value2": true
            }
          ]
        }
      },
      "name": "Is Duplicate?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1790,
        400
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Classify Error').first().json.targetRepo }}/issues/{{ $json.existingIssueNumber }}/comments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "body",
              "value": "=Duplicate error detected (fingerprint: `{{ $json.fingerprint }}`)\n\n**Error:** {{ $json.title }}\n**Level:** {{ $json.level }}\n**Culprit:** {{ $json.culprit }}\n**Time:** {{ new Date().toISOString() }}\n**Event ID:** {{ $json.eventId }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Comment on Existing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2010,
        300
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://api.github.com/repos/{{ $('Classify Error').first().json.targetRepo }}/milestones?state=open&sort=due_on&direction=desc&per_page=10",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "options": {}
      },
      "name": "List Milestones",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2010,
        500
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const classified = $('Check Duplicate').first().json;\nconst milestones = $input.first().json;\n\nconst now = new Date();\nconst yearStart = new Date(now.getFullYear(), 0, 1);\nconst weekNum = Math.ceil(((now - yearStart) / 86400000 + yearStart.getDay() + 1) / 7);\nconst weekStr = 'Week ' + now.getFullYear() + '-W' + String(weekNum).padStart(2, '0');\n\nlet milestoneNumber = null;\nif (Array.isArray(milestones)) {\n  const match = milestones.find(m => m.title && m.title.includes(weekStr));\n  if (match) milestoneNumber = match.number;\n}\n\nreturn [{ json: { ...classified, milestoneNumber, weekStr } }];"
      },
      "name": "Resolve Milestone",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2230,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.github.com/repos/{{ $('Classify Error').first().json.targetRepo }}/issues",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.GITHUB_TOKEN }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(Object.assign({ title: $json.issueTitle, body: '## GlitchTip Error Report\\n\\n**Fingerprint:** `' + $json.fingerprint + '`\\n**Error:** ' + $json.title + '\\n**Level:** ' + $json.level + '\\n**Culprit:** ' + $json.culprit + '\\n**Project:** ' + $json.project + '\\n**Message:** ' + $json.message + '\\n\\n' + ($json.url ? '[View in GlitchTip](' + $json.url + ')' : '') + '\\n\\n---\\n### Investigation Checklist\\n- [ ] Identify root cause\\n- [ ] Apply fix\\n- [ ] Verify in GlitchTip\\n- [ ] Close issue', labels: $json.classifiedLabels }, $json.milestoneNumber ? { milestone: $json.milestoneNumber } : {})) }}",
        "options": {}
      },
      "name": "Create GitHub Issue",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2450,
        500
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Log rate-limited errors for observability\nconst data = $input.first().json;\nconsole.log(`[Rate Limited] Dropping error: ${data.title || 'unknown'} (${data.rateLimitCount}/${data.rateLimitMax} in window)`);\nreturn [{ json: { ...data, dropped: true, reason: 'rate_limited' } }];"
      },
      "name": "Log Rate Limited",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1130,
        200
      ]
    }
  ],
  "connections": {
    "GlitchTip Webhook": {
      "main": [
        [
          {
            "node": "Parse & Fingerprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Fingerprint": {
      "main": [
        [
          {
            "node": "Rate Limiter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limiter": {
      "main": [
        [
          {
            "node": "Rate Limited?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limited?": {
      "main": [
        [
          {
            "node": "Log Rate Limited",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Classify Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify Error": {
      "main": [
        [
          {
            "node": "Search by Fingerprint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search by Fingerprint": {
      "main": [
        [
          {
            "node": "Check Duplicate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Duplicate": {
      "main": [
        [
          {
            "node": "Is Duplicate?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Duplicate?": {
      "main": [
        [
          {
            "node": "Comment on Existing",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "List Milestones",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Milestones": {
      "main": [
        [
          {
            "node": "Resolve Milestone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resolve Milestone": {
      "main": [
        [
          {
            "node": "Create GitHub Issue",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "error-handler"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1
}