scripts/n8n-workflows/pr-notification.json
{
  "name": "PR Notification Router",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "github-pr",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "GitHub Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "pr-opened",
              "leftValue": "={{ $json.body.action }}",
              "rightValue": "opened",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "filter-pr-events",
      "name": "Filter PR Events",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://192.168.50.106:8000/api/0/organizations/jclee-homelab/issues/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "Bearer {{ $env.GLITCHTIP_API_TOKEN }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"title\": \"PR Review: {{ $json.body.pull_request.title }}\",\n  \"culprit\": \"{{ $json.body.pull_request.user.login }}\",\n  \"level\": \"info\"\n}",
        "options": {}
      },
      "id": "glitchtip-track",
      "name": "GlitchTip Track",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 400],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 1000
    }
  ],
  "connections": {
    "GitHub Webhook": {
      "main": [[{ "node": "Filter PR Events", "type": "main", "index": 0 }]]
    },
    "Filter PR Events": {
      "main": [
        [
          { "node": "GlitchTip Track", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": ["automation", "github", "pr-review"]
}
